<div id="contenedor_targetas" class="contenedor_targetas">
    <div class="targeta_plan">
        <h1>Free</h1>
        <hr style="width: 80%;">
        <p class="targeta_descripcion">2 GB gratis para almacenar y acceder a tus archivos en la nube.</p>
        <div class="plan_caracteristica">
            <svg class="check_plan" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #430268;transform: ;msFilter:;"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg>
            <p class="plan_caracteristica_texto">2GB de espacio total</p>
        </div>
        <div class="plan_caracteristica">
            <svg class="limited_plan" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #430268;transform: ;msFilter:;"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
            <p class="plan_caracteristica_texto">Creacion de enlaces desactivada</p>
        </div>
        <div class="plan_caracteristica">
            <svg class="check_plan" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #430268;transform: ;msFilter:;"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg>
            <p class="plan_caracteristica_texto">Tamaño por archivo 100MB</p>
        </div>
        <div style="display: flex;">
            <p style="font-size: 32px;">0€</p>
            <p style="transform: translateY(16px);margin-left: 4px;">/mes</p>
        </div>
        <button class="targeta_boton">Seleccionado</button>
    </div>
    <div class="targeta_plan">
        <h1>Starter</h1>
        <hr style="width: 80%;">
        <p class="targeta_descripcion">Almacenamiento seguro para tus archivos, con acceso y opción de compartir.</p>
        <div class="plan_caracteristica">
            <svg class="check_plan" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #430268;transform: ;msFilter:;"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg>
            <p class="plan_caracteristica_texto">100GB de espacio total</p>
        </div>
        <div class="plan_caracteristica">
            <svg class="check_plan" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #430268;transform: ;msFilter:;"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg>
            <p class="plan_caracteristica_texto">Creacion de enlaces</p>
        </div>
        <div class="plan_caracteristica">
            <svg class="check_plan" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #430268;transform: ;msFilter:;"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg>
            <p class="plan_caracteristica_texto">Tamaño por archivo ilimitado</p>
        </div>
        <div style="display: flex;">
            <p style="font-size: 32px;">- - -€</p>
            <p style="transform: translateY(16px);margin-left: 4px;">/mes</p>
        </div>
        <button class="targeta_boton">Coming soon</button>
    </div>
    <div class="targeta_plan">
        <h1>Premium</h1>
        <hr style="width: 80%;">
        <p class="targeta_descripcion">Difruta de hasta 1000 GB de disponible de Almacenamiento en la nube</p>
        <div class="plan_caracteristica">
            <svg class="check_plan" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #430268;transform: ;msFilter:;"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg>
            <p class="plan_caracteristica_texto">1000GB de espacio total</p>
        </div>
        <div class="plan_caracteristica">
            <svg class="check_plan" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #430268;transform: ;msFilter:;"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg>
            <p class="plan_caracteristica_texto">Creacion de enlaces</p>
        </div>
        <div class="plan_caracteristica">
            <svg class="check_plan" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #430268;transform: ;msFilter:;"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg>
            <p class="plan_caracteristica_texto">Tamaño por archivo ilimitado</p>
        </div>
        <div style="display: flex;">
            <p style="font-size: 32px;">- - -€</p>
            <p style="transform: translateY(16px);margin-left: 4px;">/mes</p>
        </div>
        <button class="targeta_boton">Coming soon</button>
    </div>
</div>

